# .gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.idea/
*.vscode/
*.DS_Store

# models and data
data/*
!data/.gitkeep
models/*
!models/.gitkeep
!models/iso/
models/iso/*
!models/iso/.gitkeep
